/**
 * @section     Требования
 */

.requirements {
    margin-top: 20px;
    margin-bottom: 50px;
}


/**
 * @section     Секция требований
 */

.requirements-section {}
.requirements-section_required_yes {
    margin-top: -5px;
    margin-bottom: -5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #ffffc4;
}
.requirements-section__text {
    font-size: 16px;
}
.requirements-section__formatted {
    display: inline-block;
    padding: 0;
    font-size: 16px;
    font-family: inherit;
    background: none;
    border: none;
}
.requirements-section__example {
    font-size: 14px;
    color: #6a6a6a;
    margin-bottom: 3ex;
}
.requirements-section__example_type_bad {
    color: #c23b2d;
}
.requirements-section__example_type_good {
    color: #44a000;
}
.requirements-section__example-header {
    text-decoration: underline;
    font-style: italic;
    margin-bottom: 0.5ex;
}
.requirements-section__example-formatted {
    padding: 0;
    font-size: 14px;
    font-family: inherit;
    color: inherit;
    background: none;
    border: none;
}


/**
 * @section     Списки
 */

.mdashed-list {
    padding-left: 1.5em;
    list-style: none;
}
.mdashed-list li {
    position: relative;
}
.mdashed-list li:before {
    content: "—";
    position: absolute;
    top: 0;
    left: -1.5em;
}


/**
 * @section     Особые ссылки
 */

.link {
    font-size: 18px;
}
